html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.content-div {
    background-color: #4863A0;
    border: 2px solid #4863A0;
    color: white;
    margin-top: 1rem;
}